.mainContentContainer {
    background-color: none;  /* Change color to see positioning on page */

    position: relative;
    top: 100px;
}

.dropDownMenu1 {
    width: 100%;
    height: 37px;

    border-color: #cbd3d9;      /* This is the same color as the default input box border color */
    background-color: white;
}

.dropDownMenu1:focus {
    outline-color: #95c8ff;     /* This is a very similar color to the default outline */
    outline-width: 6px;
}